<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eumji.zblog.mapper.PartnerMapper">
    <!--通过username获取user对象-->
   <select id="findAll" resultType="partner">
       select * from partner
   </select>

    <delete id="delete">

    </delete>

    <select id="findById">

    </select>

    <update id="update">

    </update>

    <insert id="save">

    </insert>
</mapper>

