<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eumji.zblog.mapper.ArticleMapper">
    <!--通过username获取user对象-->
   <select id="getArticleCount" resultType="int">
       select count(id) from article
   </select>
    <!--分页获取文章-->
    <select id="getArticleList" resultType="article">
        select id,categoryId,title,content,description,status,author,createTime,updateTime,showCount from article where status=1 limit #{start},#{limit}
    </select>
</mapper>

