<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eumji.zblog.mapper.CategoryMapper">

    <select id="initPage" resultType="int">
        select count(id) from category
    </select>

    <!--初始化首页的分类列表 以文章数量排序-->
    <select id="initCategoryList" resultType="categoryCustom">
        select t1.id,categoryName,aliasName,t2.articleCount from category t1 JOIN (select id,count(id) articleCount from article GROUP by id) t2 ON t1.id=t2.id order by articleCount desc
    </select>

    <select id="getCategoryById" resultType="category">
        SELECT id,categoryName,aliasName,sort FROM category where id = #{id}
    </select>

    <select id="loadCategory" resultType="category">
        SELECT id,categoryName,aliasName,sort from category
        <if test="categoryName != null and categoryName != ''">
            WHERE categoryName like concat('%',#{categoryName},'%') or aliasName like concat('%',#{categoryName},'%')
        </if>
        limit #{pager.start},#{pager.limit}
    </select>

    <select id="checkExist" resultType="int">
        select count(id) from category  where (categoryName=#{categoryName} or aliasName = #{aliasName})
        <if test="id != null and id != ''">
            and id != #{id}
        </if>
   </select>

    <insert id="saveCategory">
        insert into category(categoryName, aliasName, sort) values(#{categoryName},#{aliasName},#{sort})
    </insert>

    <update id="updateCategory">
        update category set categoryName = #{categoryName},aliasName = #{aliasName}
        <if test="sort != null and sort != ''">
            ,sort = #{sort}
        </if>
        where id = #{id}
    </update>


    <select id="getCategoryList" resultType="category">
        select id,categoryName,aliasName from category
    </select>
</mapper>

